body{
   background-color: #40750e;
   width: 50%;
   margin: auto;
   font-family: Helvetica, Verdana;
   
}	

h1{
	background-color: #5d8f2e;
	color: white;
	text-align: center;
}

h3, h4{
	text-align: center;
}

ul{
	list-style-type: circle;
	font-weight: bold;
}

a{
	color: white;
}

iframe{
	margin: auto;
	display: block;
}

